# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

orbs:
  android: circleci/android@0.2.1

jobs:
  build:
    executor: android/android
    environment:
      JVM: "adopt:11"
    steps:
      - checkout
      - restore_cache:
          key: android-orb-v1-
      - run:
          name: Chmod permissions
          command: sudo chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          key: 'android-orb-v1-{{ epoch }}'
          paths:
            - ~/.android/build-cache
            - ~/.android/cache
      # Tambahkan langkah untuk mengganti versi Gradle
      - run:
          name: Use Gradle 7.6
          command: echo "distributionUrl=https\://services.gradle.org/distributions/gradle-7.6-all.zip" > gradle/wrapper/gradle-wrapper.properties
      - run:
          name: Run Build
          command: ./gradlew build --warning-mode all
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - run:
          name: Run Tests
          command: ./gradlew lint test --scan
      - run:
          name: Code Coverage
          command: ./gradlew jacocoTestReport
      - run:
          name: Code Style Check
          command: ./gradlew detekt ktlintCheck
      - run:
          name: Vulnerability Check
          command: ./gradlew dependencyCheckAnalyze
      - store_test_results:
          path: app/build/test-results
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: artifact-file